extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Brandon Wie

        //- Feel free personalize the title below
        p.lead.text-light
          | A Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p.main-profile
            | <strong>"You studied film?"</strong> <em>Yeah, I did.</em> People usually get surprised when they get to know me, but hey, don't judge people for who they are. Because I have some serious developer & nerdy blood running through my vain.
            | I've started learning programming since May, 2019. I was enchanted by all sorts of creativeness within it. I love my path as a creator and a life-long learner.
            | Maybe my time came a bit later than usual developers, but I'm more than confident about my energy and passion that are enough to make me just sitting on a chair, studying and writing codes for 7-8 hours straight. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.main-profile
          li JavaScript
          li Node.js
          li Express
          li Pug
          li AJAX
          li HTTP
          li API
          li HTML
          li CSS
          li SASS
        h6 Contact Info

        //- Add your own contact info
        ul.main-profile
          li +971-52-453-9222
          li it.brandonwie@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/brandonwie/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/brandonwie/' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/brandon_wie' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  